.content-cont {
  background: var(--quaternaryColor);
  border-radius: 15px;
  border: 1px solid var(--borderColor);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 35px;
  height: 100%;
  margin: 2.2rem 1.5rem;
  padding: 0rem 0.5rem;
}
